<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CMSimulator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3DAD44D51BDEF84B007E123A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DAD44EE1BDEF84C007E123A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DAD44F91BDEF84C007E123A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
